.App {
  text-align: center;
}

.Board {
  display: inline-block;
  margin: 20px;
}

.Row {
  display: flex;
}

.Cube {
  width: 50px;
  height: 50px;
  border: 1px solid #eee;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}


.Cube .Arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid #333;
  position: absolute;
  top: 20%;
  left: 30%;
}

.Arrow:hover {
  opacity: .7;
}


.ColorPicker {
  margin-top: 20px;
}

.ColorOption {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.WinMessage {
  font-size: 20px;
  margin-top: 20px;
  color: green;
}
